@import '_vars';

.primary-button{
	background-color: var(--purple-light);
	border-radius: 8px;
	border: none;
	color: var(--white);
	width: 100%;
	cursor: pointer;
	font-size: var(--med);
	font-weight: bold;
	height: 50px;
}

.product-info {
	margin: 24px 24px 0 24px;
}

.product-info p:nth-child(1){
	font-weight: bold;
	font-size: var(--med);
	margin-top: 0;
	margin-bottom: 4px;
}

.product-info p:nth-child(2){
	color: var(--very-light-pink);
	font-size: var(--med);
	margin-top: 0;
	margin-bottom: 36px;
}

.product-info p:nth-child(3){
	color: var(--very-light-pink);
	font-size: var(--sml);
	margin-top: 0;
	margin-bottom: 36px;
}

.add-to-cart-button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-to-cart-button img {
	padding-right: 15px;
}
